body {
  background-image: url(https://wallpaperaccess.com/full/8053765.png);
}

nav {
  padding: 10px;

  background-color: #ffd194;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
}

.nav-link {
  margin: 4px;
  border: 2px solid black;
  padding: 5px;
  border: none;
  background-color: #d1913c;

  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out,
    -moz-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out,
    -moz-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out,
    -moz-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out,
    -moz-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
}

nav a:hover,
nav a:focus {
  background-color: #f5f5ff;
  color: #191970;
}

h1 {
  padding: 10px;

  font-weight: bold;
  background-color: #f5f5ff;

  color: #d1913c;
  text-shadow: #212121 1.5cm;

  text-align: center;
  font-size: 40px;
}

/*
      This styles all divs on the web page to have a bg color 
      and sets the div to an automatic width and height.
      insert more stuff, but i'm sleep deprived and i need to 
      stop playing video games late at night.
      */
div {
  background-color: #e8f4f8;
  width: auto;
  height: 200px;
  border: 4px solid black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
}

p {
  font-size: 24px;
  color: #313131;
}

.styled-by-id {
  font-family: Georgia, "Times New Roman", Cambria, serif;
  font-weight: bold;
}

/*
      styles all spans to whatever is in the span style tag
      */
span {
  text-decoration: underline;
  font-style: italic;
}

#back-to-top {
  /*
  we change display to a flexbox so we can center text
  inside anchor horizontally & vertically
  */
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  /*
  fix position of Back to Top button
  to bttm right corner of web page & make it
  follow users scrolling
  */
  position: fixed;
  bottom: 20px;
  right: 10px;

  width: 80px;
  height: 80px;

  /*
  this allows us to center our content horizontally in the 
  Back to Top anchor. - Mr. Hardmen
  */
  -ms-flex-pack: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  -ms-flex-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;

  border: #121212 solid 2px;

  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;

  background: -o-radial-gradient(#eaafc8, #654ea3);
  background: -moz-radial-gradient(#eaafc8, #654ea3);
  background: -webkit-radial-gradient(#eaafc8, #654ea3);
  background: radial-gradient(#eaafc8, #654ea3);

  color: #313131;

  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
